HELP.md
target/
351203812285-u0185qnostcdqvnrfbqn0u1ss8tspbg9.apps.googleusercontent.com
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
# .gitignore
.env
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
